#loading-screen
  .message.flash-error{style: 'display: none;'}
  .message.flash-notice.loading
    Loading portfolio for
    %em.username{id: 'user-missing-portfolio', data: {github_username: @github_username}}= @github_username
    %span.e1 .
    %span.e2 .
    %span.e3 .
