---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/nilbus
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      If-Modified-Since:
      - Thu, 30 Jul 2015 15:06:21 GMT
      If-None-Match:
      - '"f7b536e5953638ec34ad54bcf5dc7001"'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1438781307'
      Last-Modified:
      - Thu, 30 Jul 2015 15:06:21 GMT
      Etag:
      - W/"35a2bef0215728caf985dc6763e94ed8"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - user
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"nilbus","id":64751,"avatar_url":"https://avatars.githubusercontent.com/u/64751?v=3","gravatar_id":"","url":"https://api.github.com/users/nilbus","html_url":"https://github.com/nilbus","followers_url":"https://api.github.com/users/nilbus/followers","following_url":"https://api.github.com/users/nilbus/following{/other_user}","gists_url":"https://api.github.com/users/nilbus/gists{/gist_id}","starred_url":"https://api.github.com/users/nilbus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nilbus/subscriptions","organizations_url":"https://api.github.com/users/nilbus/orgs","repos_url":"https://api.github.com/users/nilbus/repos","events_url":"https://api.github.com/users/nilbus/events{/privacy}","received_events_url":"https://api.github.com/users/nilbus/received_events","type":"User","site_admin":false,"name":"Edward
        Anderson","company":null,"blog":"www.nilbus.com","location":"Durham, NC","email":"nilbus@nilbus.com","hireable":false,"bio":null,"public_repos":74,"public_gists":59,"followers":49,"following":60,"created_at":"2009-03-19T01:30:37Z","updated_at":"2015-07-30T15:06:21Z"}'
  recorded_at: Wed, 05 Aug 2015 12:54:13 GMT
- request:
    method: get
    uri: https://api.github.com/users/nilbus/repos?all=true&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1438871580'
      Etag:
      - W/"cb9a5772c8f46cd020714487b69bb47d"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":726923,"name":"acts_as_indexed","full_name":"nilbus/acts_as_indexed","owner":{"login":"nilbus","id":64751,"avatar_url":"https://avatars.githubusercontent.com/u/64751?v=3","gravatar_id":"","url":"https://api.github.com/users/nilbus","html_url":"https://github.com/nilbus","followers_url":"https://api.github.com/users/nilbus/followers","following_url":"https://api.github.com/users/nilbus/following{/other_user}","gists_url":"https://api.github.com/users/nilbus/gists{/gist_id}","starred_url":"https://api.github.com/users/nilbus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/nilbus/subscriptions","organizations_url":"https://api.github.com/users/nilbus/orgs","repos_url":"https://api.github.com/users/nilbus/repos","events_url":"https://api.github.com/users/nilbus/events{/privacy}","received_events_url":"https://api.github.com/users/nilbus/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/nilbus/acts_as_indexed","description":"Acts
        As Indexed is a plugin which provides a pain-free way to add fulltext search
        to your Ruby on Rails app","fork":true,"url":"https://api.github.com/repos/nilbus/acts_as_indexed","forks_url":"https://api.github.com/repos/nilbus/acts_as_indexed/forks","keys_url":"https://api.github.com/repos/nilbus/acts_as_indexed/keys{/key_id}","collaborators_url":"https://api.github.com/repos/nilbus/acts_as_indexed/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/nilbus/acts_as_indexed/teams","hooks_url":"https://api.github.com/repos/nilbus/acts_as_indexed/hooks","issue_events_url":"https://api.github.com/repos/nilbus/acts_as_indexed/issues/events{/number}","events_url":"https://api.github.com/repos/nilbus/acts_as_indexed/events","assignees_url":"https://api.github.com/repos/nilbus/acts_as_indexed/assignees{/user}","branches_url":"https://api.github.com/repos/nilbus/acts_as_indexed/branches{/branch}","tags_url":"https://api.github.com/repos/nilbus/acts_as_indexed/tags","blobs_url":"https://api.github.com/repos/nilbus/acts_as_indexed/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/nilbus/acts_as_indexed/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/nilbus/acts_as_indexed/git/refs{/sha}","trees_url":"https://api.github.com/repos/nilbus/acts_as_indexed/git/trees{/sha}","statuses_url":"https://api.github.com/repos/nilbus/acts_as_indexed/statuses/{sha}","languages_url":"https://api.github.com/repos/nilbus/acts_as_indexed/languages","stargazers_url":"https://api.github.com/repos/nilbus/acts_as_indexed/stargazers","contributors_url":"https://api.github.com/repos/nilbus/acts_as_indexed/contributors","subscribers_url":"https://api.github.com/repos/nilbus/acts_as_indexed/subscribers","subscription_url":"https://api.github.com/repos/nilbus/acts_as_indexed/subscription","commits_url":"https://api.github.com/repos/nilbus/acts_as_indexed/commits{/sha}","git_commits_url":"https://api.github.com/repos/nilbus/acts_as_indexed/git/commits{/sha}","comments_url":"https://api.github.com/repos/nilbus/acts_as_indexed/comments{/number}","issue_comment_url":"https://api.github.com/repos/nilbus/acts_as_indexed/issues/comments{/number}","contents_url":"https://api.github.com/repos/nilbus/acts_as_indexed/contents/{+path}","compare_url":"https://api.github.com/repos/nilbus/acts_as_indexed/compare/{base}...{head}","merges_url":"https://api.github.com/repos/nilbus/acts_as_indexed/merges","archive_url":"https://api.github.com/repos/nilbus/acts_as_indexed/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/nilbus/acts_as_indexed/downloads","issues_url":"https://api.github.com/repos/nilbus/acts_as_indexed/issues{/number}","pulls_url":"https://api.github.com/repos/nilbus/acts_as_indexed/pulls{/number}","milestones_url":"https://api.github.com/repos/nilbus/acts_as_indexed/milestones{/number}","notifications_url":"https://api.github.com/repos/nilbus/acts_as_indexed/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/nilbus/acts_as_indexed/labels{/name}","releases_url":"https://api.github.com/repos/nilbus/acts_as_indexed/releases{/id}","created_at":"2010-06-17T23:23:32Z","updated_at":"2012-12-14T19:00:14Z","pushed_at":"2011-03-30T13:17:13Z","git_url":"git://github.com/nilbus/acts_as_indexed.git","ssh_url":"git@github.com:nilbus/acts_as_indexed.git","clone_url":"https://github.com/nilbus/acts_as_indexed.git","svn_url":"https://github.com/nilbus/acts_as_indexed","homepage":"http://douglasfshearer.com/blog/rails-plugin-acts_as_indexed","size":303,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":0,"forks":1,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":7415281,"name":"axlsx","full_name":"nilbus/axlsx","owner":{"login":"nilbus","id":64751,"avatar_url":"https://avatars.githubusercontent.com/u/64751?v=3","gravatar_id":"","url":"https://api.github.com/users/nilbus","html_url":"https://github.com/nilbus","followers_url":"https://api.github.com/users/nilbus/followers","following_url":"https://api.github.com/users/nilbus/following{/other_user}","gists_url":"https://api.github.com/users/nilbus/gists{/gist_id}","starred_url":"https://api.g[...]
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1438871580'
      Last-Modified:
      - Thu, 30[...]
- request:
    method: get
    uri: https://api.github.com/user/starred?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4968'
      X-Ratelimit-Reset:
      - '1438871580'
      Etag:
      - W/"14efdcf9ac23136df98b5a237b678edd"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/starred?per_page=100&page=2>; rel="next", <https://api.github.com/user/starred?per_page=100&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        W3siaWQiOjQwMDUwNDM0LCJuYW1lIjoiZ2l0aHViLXBvcnRmb2xpbyIsImZ1
        bGxfbmFtZSI6Im5pbGJ1cy9naXRodWItcG9ydGZvbGlvIiwib3duZXIiOnsi
        bG9naW4iOiJuaWxidXMiLCJpZCI6NjQ3NTEsImF2YXRhcl91cmwiOiJodHRw
        czovL2F2YXRhcnMuZ2l0aHVidXNlcmNvbnRlbnQuY29tL3UvNjQ3NTE/dj0z
    [...]
