default: &default
  github_api_token: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  secret_key_base: this_is_not_a_secure_key
  airbrake_api_key: <%= ENV['AIRBRAKE_API_KEY'] %>
  hue: 20

development:
  <<: *default

test:
  <<: *default

staging:
  <<: *default

production:
  <<: *default
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
