header.profile {
  text-align: center;

  h2 {
    font-weight: 500;
    margin: .2em;
  }

  .intro {
    margin: 2em auto 3em;
    width: 60%;
    line-height: 1.7em;
    font-size: 1.2em;
    font-weight: 200;
  }
}

section#my-projects, section#other-projects {
  .project {
    border: 1px solid #8A8A8A;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    padding: 10px 0;
    margin: 20px 0;

    > div, > h3, > h4 {
      padding: 0 10px;
    }

    h3.heading, h4.heading {
      a {
        color: #000000;
      }

      .star-count {
        float: right;

        &:after {
          content: '★'
        }
      }

      .name, .language, .role-title, .contribution-percent {
        display: inline;
      }
    }

    .activity {
      padding: 10px;

      .issue {
        .issue-number, .issue-title, .issue-state {
          display: inline;
        }
      }

      .commit {
        .commit-sha, .commit-message-subject {
          display: inline;
        }
      }
    }
  }
}

section#my-projects {
  .project {
    h3.heading {
      .language, .role-title, .contribution-percent, .star-count {
        font-weight: 400;
      }

      .contribution-percent {
        &:before { content: '(' }
        &:after { content: '%)' }
      }

      .role-title:before {
        content: '- '
      }
    }

    .sub-heading {
      .description {
        display: inline-block;
      }

      .time-period-duration {
        float: right;
      }
    }

    .activity section {
      width: 33%;
      display: inline-block;
      vertical-align: top;
    }

    .overall-statistics {
      border-top: 1px solid #CBCBCB;
      padding-top: 10px;

      ul {
        white-space: nowrap;
        line-height: 3em;
        text-align: center;

        li {
          margin: 0;
          padding: 0;
          width: 25%;
          display: inline-block;
          text-align: center;

          .label {
            display: inline-block;
            padding-left: .5em;
            vertical-align: top;
          }

          &:before {
            font-size: 1.5em;
            font-family: 'Icomoon-Free';
          }

          &.total-commit-count:before {
            content: "\e907";
          }

          &.month-created:before {
            content: "\e953";
          }

          &.release-date:before {
            content: "\e94d";
          }

          &.version:before {
            content: "\e9d2";
          }
        }
      }
    }
  }
}

section#other-projects {
  .project {
    width: 32%;
    display: inline-block;
    margin-right: 1.6%;
    vertical-align: top;

    &:nth-child(3n) {
      margin-right: 0;
    }

    a {

    }
  }
}
